/* initial title page css */
.navBar {
    display: flex;
}

.navText {
    color: #c36fe9;
    font-size: 16pt;
    font-weight: 200;
    padding: 30px;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5rem 20rem;
    
}

.btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #351c75;
    border-radius: 10px;
    width:15%;
    height: 18%;
    
}

.btnBox:hover {
    background-color: #c36fe9;
}

.purpleBtn {
    color: white;
    font-size: 15pt;
}

.introHeader {
    font-weight: 900;
    font-size: 30pt;
    margin: 0;
}

.introStatement {
    font-size: 14pt;
    margin: 2rem 5rem;
}
/* end intital title page css */

/* CSS for applicable answer buttons */
.purpleAnswerBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-indent: 10px;
    font-size: 14pt;
    font-weight: 100;
    background-color: #351c75;
    color: white;
    border-radius: 5px;
    width: 65%;
    height: 25%;
    padding: 10px;
    margin: 20px 5px -10px 0;
}

.purpleAnswerBtn:hover {
    background-color: #c36fe9;
}

/* end css for applicable answer buttons */

/* standard question styling */
.questionStyles {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 26pt;
    margin: 0 400px;
}
/* end question styling */

/* answer styles */

.buttonBox {
    width: 40%;
}

.answerStyles {
    display: flex;
    flex-direction: column;
    margin: 25px 400px 0 420px;
    border-top: solid 2px lightgrey;
}

.answerStylesDiv {
    color: lightgrey;
    padding: 10px;
    font-style: italic;
    font-size: 16pt;
    font-weight: 500;
}
/* end answer styles */

/*intitials and scores styles */
.userInfoInput {
    display: flex;
    justify-content: center;
    padding: 55px;
}

.allDoneText {
    font-size: 30pt;
    font-weight: 900;
}

.enterInitials {
    font-size: 14pt;
}

.purpleSubmitBtn {
    color: white;
    background-color: #351c75;
    border-radius: 4px;
}
/* end initials and score items */

/* start score list section */
.highScoreList {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scoresList {
    background-color: #c36fe9;
    font-size: 16pt;
    font-weight: 100;
    text-align: left;
}

.scoreListTitle {
    font-size: 20pt;
    font-weight: bold;
}

.scoreItems {
    text-decoration: none;
}

.purpleSubmitBtn:hover {
    background-color: #c36fe9;
}

.restartBtnBox {
    text-align: center;
}

/* utility class */
.hidden {
    display: none;
}