.navBar {
    display: flex;
}

.navText {
    color: #c36fe9;
    font-size: 16pt;
    font-weight: ;
}

.questionContainer {
    display: flex;
    justify-content: center;
}

.titlePage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5rem 20rem;
    
}

.btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #351c75;
    border-radius: 5px;
    width:15%;
    height: 18%;
    
}

.btnBox:hover {
    background-color: #c36fe9;
}

.purpleBtn {
    color: white;
    font-size: 15pt;
}

.introHeader {
    font-weight: 900;
    font-size: 30pt;
    margin: 0;
}

.introStatement {
    font-size: 14pt;
    margin: 2rem 5rem;
}